1 VERSIONINFO
FILEVERSION 0,5,0,0
PRODUCTVERSION 0,5,0,0
FILEFLAGSMASK 0
FILEFLAGS 0
FILEOS 0x40004 // VOS_NT_WINDOWS32
FILETYPE 0x2 //VFT_DLL
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0" // U.S. English, Unicode
	{
		VALUE "CompanyName", "Eion Robb\0"
		VALUE "FileDescription", "Windows 7 Extensions for Pidgin\0"
		VALUE "FileVersion", "0.5"
		VALUE "InternalName", "pidgin-win7"
		VALUE "LegalCopyright", "Copyright (C) 2010-2011 Eion Robb"
		VALUE "OriginalFilename", "pidgin-win7.dll"
		VALUE "ProductName", "Win7Pidgin"
		VALUE "ProductVersion", "0.5"
	}
}
BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409, 0x04B0 // U.S. English, Unicode
}
}

1		ICON	"available.ico"
2		ICON	"away.ico"
3		ICON	"busy.ico"
4		ICON	"invisible.ico"
5		ICON	"offline.ico"
6		ICON	"message-new.ico"
7		ICON	"gtk-jump-to-ltr.ico"
8		ICON	"plugins.ico"
9		ICON	"gtk-preferences.ico"
10		ICON	"gtk-quit.ico"
